# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# YARA compiled
*.yarc

# OS
.DS_Store
